.search-result-container
{
	padding-top: 60px;
	height : 100%;
	background: #fafafa;
}

.search-result
{
    border: solid 1px #ececec;
    left: 20%;
    height: 85%;
    position: fixed;
    right: 20%;
    top : 100px;
    padding : 30px 0 30px 30px;
    background: #fff;
}
.search-result ul
{
	height : 93%;
	overflow-y: auto;
}
.search-result ul li
{
	float: left;
    padding: 3px;
    border-radius: 3px;
    text-align: center;
    margin : 0 40px 40px 0;
}
.search-result ul li img
{
	height : 150px;
	border-radius: 5px;
}